table {
	text-align: center;
}

td {
	width: 20px;
	height: 20px;
}

td input {
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}

.block {
	background-color: #000;
}
.hint {
    background: white;
}
.post {
	container-type: inline-size;
	container-name: sidebar;
	background-color: aqua;
	margin-bottom: 20px;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.footer-content {
    white-space: nowrap; /* Mencegah teks mematahkan baris */
    overflow-x: auto; /* Mengaktifkan scroll horizontal jika konten melebihi lebar footer */
}

.footer-content .horizontal-scroll {
    display: inline-block; /* Membuat elemen di dalamnya ditampilkan dalam satu baris horizontal */
}
.footer-content p {
    display: inline; /* Mengatur elemen <p> agar tampil dalam satu baris horizontal */
    margin: 0 10px; /* Menambahkan jarak antara elemen <p> */
	font-size: larger;
}
.box {
    width: 100%;
    max-height: 200px; /* Menentukan tinggi maksimal kotak */
    overflow-y: auto; /* Mengaktifkan scroll vertikal jika konten melebihi tinggi kotak */
    border: 1px solid #ccc; /* Menambahkan garis tepi pada kotak */
    padding: 10px; /* Menambahkan padding pada kotak */
}


